{% extends 'base.html' %}

{% block title %}Our Contacts{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
{% endblock %}

{% block content %}

  <h1>Contacts</h1>
    <p>Feel free to reach out to us through the contact details below.</p>
    <h2>Contact Details</h2>
    <table border="1">
      <tr>
        <th>Department</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
      <tr>
        <td>Support</td>
        <td>support@gmail.com</td>
        <td>+1-234-567-89-00</td>
      </tr>
      <tr>
        <td>Sales</td>
        <td>sales@gmail.com</td>
        <td>+7-800-555-35-55</td>
      </tr>
    </table>
{% endblock %}
