{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flash {{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}



<div class="container">
  <h1>Contact Us</h1>

    <form action="/contact" method="POST" class="contact-form" novalidate>
    {{ form.hidden_tag() }}

    {% for field in form if field.name not in ['csrf_token', 'submit'] %}
        <p>
        {{ field.label() }}
        {% if field.errors %}
            {{ field(class='message-area invalid') }}
            <span class="invalid-feedback">
            {% for e in field.errors %}
                {{ e }}
            {% endfor %}
            </span>
        {% else %}
            {{ field(class='message-area') }}
        {% endif %}
        </p>
    {% endfor %}

    {{ form.submit(class_='contact-button') }}
    </form>
</div>

{% endblock %}