{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}

<div class="container">
    <h1>Welcome to My Flask App</h1>
    <p>Explore the website to learn more about us!</p>
    <img class="flask-logo" src="{{ url_for('static', filename='img/flask_icon.png') }}" alt="Flask Icon">
</div>

{% endblock %}

  {% block bottom_info %}
    <h2 class="bottom-info">Current Time: {{ current_time.strftime('%Y-%m-%d %H:%M:%S') }}</h2>
  {% endblock %}
